.buttons {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  justify-content: start;
  margin-bottom: 25px;
  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 15px;
  }
  @media screen and (min-width: $desktop) {
    justify-content: center;
    margin-bottom: 35px;
  }

  &__button-radio {
    display: block;
    padding: 6px 22px;
    margin-bottom: 15px;
    cursor: pointer;

    background-color: $secondary-background;
    color: $title-text-color;

    font-family: inherit;
    font-weight: $secondary-font-weight;
    font-size: $secondary-font-size;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    border: 1px transparent;
    letter-spacing: 0.03em;

    transition: color $animation-duration $animation-type,
      background-color $animation-duration $animation-type;
  }

  &__item {
    margin-right: 8px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__button-radio:hover,
  &__button-radio:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
