.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 0;
  }

  .features__list {
    margin: -15px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // margin: 0 -15px;

      @media screen and (max-width: 1199px) {
        // padding-bottom: 15px;
      }
    }
  }

  .features__item {
    margin: 15px;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 120px) / 4);
    }
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-background;

    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    &__title {
      color: $title-text-color;

      font-weight: $third-font-weight;
      font-size: $primary-font-size;
      line-height: $primary-line-height;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      margin-top: 0;
      margin-bottom: 10px;
      @media screen and (min-width: $tablet) {
        text-align: left;
      }
    }

    &__text {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: $primary-font-weight;
      font-size: $primary-font-size;
      line-height: $address-line-height;
      letter-spacing: 0.03em;
    }

    &__icon {
      height: 70px;
      width: 70px;

      fill: currentColor;
    }
  }
}
