.features {
  display: block;
  padding: 94px 0;
  margin: 0 auto;

  .features__list {
    display: flex;
    padding: 0;
    margin: 0 -15px;
  }

  .features__item {
    margin: 0 15px;
  }

  .features__title {
    margin-bottom: 10px;
  }
}
