.overlay {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 480px;
  max-height: 400px;
  padding: 118px 0;

  background-color: $footer-background;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-mobile@2x.jpg");
  }
  @media screen and (min-width: $mobile) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet@1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero@2x.jpg");
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: 768px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    max-height: 600px;
    padding: 200px;
  }
}

.hero-container {
  max-width: 360px;
  margin: 0 auto 30px auto;
  @media screen and (min-width: $desktop) {
    max-width: 696px;
  }
  &__title {
    color: $primary-white-color;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.37;
    }
  }
}

.hero-button {
  display: inline-block;
  flex-basis: 200px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  color: $primary-white-color;
  background-color: $accent-color;
}

// .overlay {
//   max-width: 1600px;
//   height: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   background-color: $footer-background;
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url("../images/hero/hero-mobile.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/hero/hero-mobile@2x.jpg");
//   }
//   @media screen and (min-width: $mobile) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/hero/hero-tablet.jpg);
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: linear-gradient(
//           to right,
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url("../images/hero/hero-tablet@2x.jpg");
//     }
//   }

//   @media screen and (min-width: $tablet) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/hero/hero.jpg);
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: linear-gradient(
//           to right,
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url("../images/hero/hero@2x.jpg");
//     }
//   }

//   @media screen and (min-width: $tablet) {
//     max-width: 768px;
//   }
//   @media screen and (min-width: $desktop) {
//     max-width: 1600px;
//     max-height: 600px;
//     padding: 200px;
//   }
// }
