.logo {
  color: $logo-color;
  text-decoration: none;
  font-family: $secondary-font-family;
  font-weight: $third-font-weight;
  font-size: $logo-font-size;
  line-height: $line-height-logo;
  letter-spacing: 0.03em;
  @media screen and (min-width: $desktop) {
    font-size: $logo-second-size;
  }

  &--accent {
    color: $accent-color;
  }
}
