.send-form {
  &__email {
    display: inline-flex;
    align-items: center;
  }

  &__text {
    color: $primary-white-color;
    font-style: normal;
    font-weight: $third-font-weight;
    font-size: $primary-font-size;
    line-height: $primary-line-height;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__input {
    width: 358px;
    height: 50px;
    background-color: $footer-background;
    border: 1px solid $footer-form;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 256px 15px 16px;
    margin-right: 12px;

    color: $secondary-footer-color;
  }

  &__email input::placeholder {
    font-weight: $primary-font-weight;
    font-size: $secondary-font-size;
    line-height: $placeholder-line-height;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}
