$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$icon-color: #afb1b8;
$logo-color: #000000;
$secondary-background: #f5f4fa;
$border-color-card: #eeeeee;
$footer-background: #2f303a;
$footer-form: rgba(255, 255, 255, 0.3);
$secondary-footer-color: rgba(255, 255, 255, 0.6);
$background-description: rgba(47, 48, 58, 0.8);
$border-bottom: #ececec;
$backdrop-color: rgba(0, 0, 0, 0.1);
$border-input: rgba(33, 33, 33, 0.2);
$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font-family: roboto, sans-serif;
$secondary-font-family: raleway;

$primary-font-size: 14px;
$logo-font-size: 26px;
$hero-font-size: 44px;
$modal-sec-font-size: 20px;
$modal-primary-font-size: 12px;
$title-font-size: 36px;
$secondary-font-size: 16px;
$overlay-font-size: 18px;

$primary-line-height: 1.14;
$hero-title-line-height: 1.36;
$line-height-logo: 1.19;
$title-line-height: 1.17;
$button-line-height: 1.87;
$address-line-height: 1.71;
$card-title-line-height: 2;
$placeholder-line-height: 1.25;
$overlay-line-height: 1.56;

$primary-font-weight: 400;
$secondary-font-weight: 500;
$third-font-weight: 700;
$hero-font-weight: 900;
